<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <h3>FarmEasy</h3>
    </div>
    <ul class="list-unstyled components text-secondary">
        <li>
            <a href="/farmer/dashboard"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
            <a href="/farmer/products"><i class="fas fa-archive"></i> Products</a>
        </li>
    </ul>
</nav>